html,
body {
    height: 100%;
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/images/blue-triangles-medium.png');
}

.main-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.heading {
    position: absolute;
    text-align: center;
}

.title {
    color: #84CCCC;
    font-size: 64px;
}

.map-container {
    /* margin: 0 auto; */
}

.close-modal-button {
    float: right;
}

.bubble-popup {
    color: #E91C63;
}
