<div class="main-container gutter-0 row">

    <div class="info-container col-md-4 col1">
        <div class="row name">
            <h2>[ <span id="name"></span> ]</h2>
        </div>
        <div id="details" class="row details">
            <!-- dynamically populate list items from `details` object property -->
        </div>
        <div id="summary" class="row summary">
            <!-- dynamically populate paragraphs from `summary` array property -->
        </div>
    </div>

    <div class="col-md-8 col2">
        <div class="demo-container">
            <!--<img src="./assets/dragon_drunk.png"></img>-->
        </div>
        <div id="map-container" class="map-conatiner">
            <div id="map" class="map"></div>
        </div>
    </div>

</div>
