<div class="main-container">

    <!-- <a href="#unq">unq</a> -->

    <div class="heading">
        <h2 class="title">Ben Wiz</h2>
    </div>

    <div id="map-container" class="map-conatiner">
        <div id="map" class="map"></div>
    </div>

     <div class="remodal" data-remodal-id="neworleans">
        <button data-remodal-action="close" class="remodal-close"></button>

        <div id="blog"></div>

        <br>
        <button data-remodal-action="confirm" class="remodal-confirm close-modal-button">OK</button>
    </div>

</div>
