@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

body {
  background-color: lightblue;
}

.outer-container {
  display: table;
  position: absolute;
  height: 98%;
  width: 99%;
}

.inner-container {
  display: table-cell;
  vertical-align: middle;
}

.main-card {
  max-width: 350px;
  margin: 0 auto;
}

.main-card__media {
  background-image: url("/images/mangos.jpg");
}

.main-card__media--16-9 {
  background-image: url("/images/mangos.jpg");
}

.main-card__primary {
  padding: 1rem;
}

.main-card__title {
  margin: 0;
}

.main-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: 0;
}

.main-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  padding: 0 1rem 8px 1rem;
}
