@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  --mdc-theme-primary: dodgerblue; /* deepskyblue, dodgerblue */
  --mdc-theme-secondary: dodgerblue;
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  /* background-color: #add8e6; */

  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

#container {
  max-width: 300px;
  margin: 0 auto;
}

.mdc-button,
.mdc-slider,
p,
.projects {
  width: 100%;
  margin: 8px;
}

p {
  margin-bottom: 20px;
}

.projects {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
}
.projects .mdc-button {
  width: calc(50% - 4px);
  margin: 0px;
}
.projects .left-button {
  float: left;
}
.projects .right-button {
  float: right;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* Setting width and height does not seem to be necessary because the js handles it. */
  /* width: 100%;
  height: 100%; */
  z-index: -3; /* Move canvas to background. If it is not working add "!important" */
}
