path {
    stroke: #999;
    fill: #eee;
}

#boundary path {
    fill: #f2f9ff;
    stroke: none;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    padding: .2em;
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9;
    position: absolute;
}

.visited {
    fill: lightcyan;
}

.mdc-dialog__surface {
    height: 95%;
}

.mdc-dialog__body--scrollable {
    height: 100%;
    max-height: 100%;
}

.mdc-layout-grid__cell--span-12 {

}

.mdc-layout-grid__cell--span-4 {
    background-color: white;
}

.grid {
    margin: 0 auto; /* used along with masonry `fitWidth: true` to center the grid */
}

.grid-item {
    width: 225px;
    margin: 5px;
}

.entry-image {
    max-width: 47%;
}
