@import url('https://fonts.googleapis.com/css?family=Dosis');
@import "@material/card/mdc-card";
// @import "@material/button/mdc-button";

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  background-color: lightblue;
}

.outer-container {
  display: table;
  height: 100%;
  width: 100%;
}

.inner-container {
  display: table-cell;
  vertical-align: middle;
}

.mdc-card {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.mdc-card__media, .mdc-card__media--16-9 {
  background-image: url("/assets/images/mangos.jpg");
}

.mdc-card__primary {
  padding: 1rem;
}

.mdc-card__title {
  margin: 0;
}

.mdc-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: 0;
}

.mdc-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  padding: 0 1rem 8px 1rem;
}

.link-icon {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#tooltip {
  visibility: hidden;
}
