body {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#container {
  width: 345px;
  margin: 0 auto;
}

p {
  width: 100%;
  margin-bottom: 20px;
}

button {
  border: 2px solid dodgerblue;
  border-radius: 4px;
  color: dodgerblue;
  background-color: transparent;
  font-size: 15px;
  width: 80%;
  height: 36px;
  margin: 8px;
  line-height: 0; /* to vertical align text */
}

button:hover {
  background-color: rgba(30, 144, 255, 0.1); /* dodgerblue, must use rgba or hex for background-color opacity */
}

button:active {
  /* background-color: green; */
  width: 79%;
  /* height: 32px; */
}

#secondary-buttons {
  margin-top: 33px;
  margin-bottom: 4px;
}

.no-border {
  border: none;
}
