@import url("https://fonts.googleapis.com/css?family=Dosis");
@import "_variables";
@import "@material/button/mdc-button";
@import "@material/ripple/mdc-ripple";
@import "@material/slider/mdc-slider";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";


html {
    min-height: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 345px;
  margin: 0 auto;

  .mdc-button,
  .mdc-slider,
  .projects {
    width: 80%;
    margin: 8px;
  }

  p {
      width: 100%;
  }

  p {
    margin-bottom: 20px;
  }

  .projects {
    display: inline-block;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 4px;

    .mdc-button {
      // width: calc(50% - 8px);
      // margin: 8px 0px 8px 0px;
    }

    .left-button {
      float: left;
    }

    .right-button {
      float: right;
    }

    .large-icon {
      font-size: large;
    }
  }

  #boba-configs {
    display: none;
    margin: 16px;
    margin-bottom: 48px;

    #boba-toggles {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3; // If this stops working, remember to try "!important"
}
